@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;600;700&display=swap');

body {
	background: #fff;
	color: #444;
	width: 80%;
	margin: 1rem auto;
	font-family: 'Barlow', sans-serif;
}

a, a:link {
	color: #a00;
	text-decoration: none;
}

small {
	display: block;
}