@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.main {
	margin: 1rem auto;
	max-width: 60rem;
}

h2 {
	margin: 2.5rem 0 1rem;
}

h3, h4 {
	color: #a00;
	margin: 0;
}

body * {
	font-family: "Source Sans Pro", sans-serif;
}

img {
	display: block;
	margin: 1rem 0;
	border: 1px solid #999;
}

table {
	width: 100%;
	border: 1px solid #e3e3d4;
}

th,td {
	padding: 0.5rem;
	text-align: center;
}

th {
	text-transform: uppercase;
	background: #e3e3d4;
}

td.header-column {
	text-align: left !important;
}

.change-nil {
	background: #ccc;
	color: #999;
}

.change-increase {
	background: #9f9;
}

.change-decrease {
	background: #fee;
}

.change-decrease-1 {
	background: #fdd;
}

.change-decrease-2 {
	background: #fcc;
}

.change-decrease-3 {
	background: #fbb;
}

.change-decrease-4 {
	background: #faa;
}

.change-decrease-5 {
	background: #f88;
}

.change-decrease-6 {
	background: #f66;
}

.change-decrease-7 {
	background: #f44;
}

.change-decrease-8 {
	background: #f11;
}

.change-decrease-9 {
	background: #f00;
}

.facet {
	display: inline-block;
	background: #e3e3d4;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin: 0 0 0.2rem 0;
}

.facet-keyword {
	color: #fff;
	background: #090;
}

.facet-tab {
	color: #fff;
	background: #36c;
}

.facet-usage {
	color: #000;
	background: #fc3;
}
